{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster" />
    <link href="https://fonts.googleapis.com/css?family=Stylish&amp;subset=korean" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
<header id="header_bar">
        <span id="header_title">
            <a class="lobster_font header_title_durat" href="{% url 'brat:home' %}">DURAT</a>
        </span>
    <span id="header_is_login" class="lobster_font">
            {% block header_is_login %}
            {% endblock %}
        </span>
</header>
<div>
    <aside id="aside_data_list">
        {% block aside_data_list %}
        {% endblock %}
    </aside>
</div>
<div>
    <div>
        <article id="article_data_list">
            {% block article_data_list %}
            {% endblock %}
        </article>
    </div>
    <div>
        <article id="latest_data_list">
            {% block article_latest_data_list %}
            {% endblock %}
        </article>
    </div>
</div>
<script type="text/javascript" src="/static/js/ajax.js"></script>
</body>
</html>