{% extends 'brat/base.html' %}

{% block title %}
    DURAT
{% endblock %}

{% block header_is_login %}
    {% if user.is_authenticated %}
        <div>{{ user.username }}</div>
        <div><a href="{% url 'logout' %}">logout</a></div>
    {% else %}
        <div>You are not logged in</div>
        <div><a href="{% url 'login' %}">login</a></div>
        <div><a href="{% url 'brat:signup' %}">Sign Up</a></div>
    {% endif %}
{% endblock %}

{% block aside_data_list %}
    {% for tag_list in taging_list %}
        <a href="{% url 'brat:datalist' tag_list.taging_list_title %}">
        <div class="aside_data_list_text lobster_font">{{ tag_list.taging_list_title }}</div></a>
    {% endfor %}
{% endblock %}

{% block article_data_list %}
    <div style="margin-bottom: 50px">
        <p style="color: #ff9400; font-size: 45px">간단 태깅 로그</p>
        <table>
            <tr>
                <td>문장</td>
                {% for taging_user, taging_user_taging in taging_user_tag.items %}
                    <td class="lobster_font" style="color: black; font-size: 15px">{{ taging_user }}</td>
                {% endfor %}
            </tr>
            {% for tad_list_count in tad_list %}
                {% with loopcounter=forloop.counter %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    {% for taging_user, taging_user_taging in taging_user_tag.items %}
                        {% for number, tag in taging_user_taging.items %}
                            {% if loopcounter == number %}
                                <td style="color: black; font-size: 15px">{{ tag }}</td>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tr>
                {% endwith %}
            {% endfor %}
        </table>
    </div>
    <table class="table table-bordered">
        {% for i in tad_list %}
            <tr>
                <td style="border: solid 1px #ff9400">
                    {% if i|length < 2 %}
                        <p class="data_text_decorations no_margin_padding"><span id = "data_text_decoration_{{ forloop.counter }}"></span></p>
                        <p style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"><span>{{ forloop.counter }}&nbsp;&nbsp;&nbsp;&nbsp;</span><span>&nbsp;</span></p>
                    {% else %}
                        <p class="data_text_decorations no_margin_padding"><span id = "data_text_decoration_{{ forloop.counter }}"></span></p>
                        <p style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px;"><span>{{ forloop.counter }}&nbsp;&nbsp;&nbsp;&nbsp;</span><span id="data_text_{{ forloop.counter }}">{{ i }}</span></p>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}