{% extends 'brat/base.html' %}

{% block title %}
    DURAT
{% endblock %}

{% block header_is_login %}
    {% if user.is_authenticated %}
        <div>{{ user.username }}</div>
        <div><a href="{% url 'logout' %}">logout</a></div>
    {% else %}
        <div>You are not logged in</div>
        <div><a href="{% url 'login' %}">login</a></div>
        <div><a href="{% url 'brat:signup' %}">Sign Up</a></div>
    {% endif %}
{% endblock %}

{% block aside_data_list %}
    {% if admin %}
        <a href="{% url 'brat:admin_all_document' %}">
        <div class="aside_data_list_text lobster_font">All Document</div></a>
        <a href="{% url 'brat:admin_month_rate' %}">
        <div class="aside_data_list_text lobster_font">Month rate</div></a>
    {% else %}
        {% for tag_list in taging_list %}
            <a href="{% url 'brat:datalist' tag_list.taging_list_title %}">
            <div class="aside_data_list_text lobster_font">{{ tag_list.taging_list_title }}</div></a>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block article_data_list %}
    <p class="article_data_list">< - 리스트 선택</p>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <p><a href="/home/listcreate/" style="color: #ff9400;">리스트 추가</a></p>
    {% if admin %}
        <p><a href="{% url 'brat:admin_derestrict' %}">관리자 모드 해제</a></p>
    {% else %}
        <p><a href="{% url 'brat:admin' %}">관리자 모드</a></p>
    {% endif %}
{% endblock %}

{% block article_latest_data_list %}
    <p>
        <h6>최근 태깅한 문서</h6>
        {% if latest_taging_datas %}
            <ul>
                {% for latest_taging_data in latest_taging_datas %}
                    <li><a href="{% url 'brat:detail' taging_list_title=latest_taging_data.latest_taging_title taging_data_id=latest_taging_data.latest_taging_number %}">
                        {{ latest_taging_data.latest_taging_text }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </p><br>
    <p>
        <h6>태깅중이거나 완료된 문서</h6>
        {% if taging_is_full_datas %}
            <ul>
                {% for taging_is_full_data in taging_is_full_datas %}
                    <li><a href="{% url 'brat:detail' taging_list_title=taging_is_full_data.taging_list_id taging_data_id=taging_is_full_data.id %}">
                        {{ taging_is_full_data.taging_data_title }}&nbsp;&nbsp;({{ taging_is_full_data.taging_is_full_tag|floatformat:2 }}%)</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </p>
{% endblock %}