{% extends 'brat/base.html' %}

{% block title %}
    DURAT
{% endblock %}

{% block header_is_login %}
    {% if user.is_authenticated %}
        <div>{{ user.username }}</div>
        <div><a href="{% url 'logout' %}">logout</a></div>
    {% else %}
        <div>You are not logged in</div>
        <div><a href="{% url 'login' %}">login</a></div>
        <div><a href="{% url 'brat:signup' %}">Sign Up</a></div>
    {% endif %}
{% endblock %}

{% block aside_data_list %}
{% endblock %}

{% block article_data_list %}
    <p>변경할 이름을 적어주세요.</p>
    <p>파일이 많을 시에 오래 걸릴수 있습니다.</p>
    <div>
        <form action="" method="post" style="float:left;">
            {% csrf_token %}
            <input type="text" name="listname" placeholder="변경할 이름">
            <input type="hidden" name="yesno" value="yes">
            <input type="submit" value="확인">
        </form>
    </div>
    <div>
        <form action="" method="post" style="margin-left:20px;">
            {% csrf_token %}
            <input type="hidden" name="yesno" value="no">
            <input type="submit" value="취소">
        </form>
    </div>
{% endblock %}